@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;1,700&family=Rubik+Wet+Paint&display=swap');
*{
    font-family: 'Lato',sans-serif;
    padding: 0;
    margin:0;
    box-sizing: border-box;
}
h1, h2, h3, h4, h5, h6, span{
    color:#242424;
    text-align: center;
    line-height: 1.25;
}

li{
    list-style: none;
}

p {
    line-height:1.5;
    font-size: 16px; 
}

.flex-1{
    flex:1;
}

.flex{
    display: flex;
}

.row{
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
}

section:nth-child(even){
    background-color: #f8f8f8;
}

.container{
    padding: 50px 0px;
}

.section__title{
    margin-bottom: 20px;
}
/* NAVIGATION BAR */

nav {
    height:100px;
    max-width: 1000px;
    width: 100%;
    margin: 0% auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__link--list{
    display: flex;
}

.nav__link--anchor{
    margin:0 12px;
    color:#242424;
    text-decoration: none;
    font-weight: 700;
}

.nav__link--anchor-primary{
    color:#fff;
    background-color: #6030b1;
    padding: 8px 20px;
    border-radius: 50px;
    transition:all 300ms ease;
}

.nav__link--anchor-primary:hover{
    background-color: pink;
}

.personal__logo{
    font-size: 24px;
    color: #6030b1;
    margin: 0 12px;
    font-weight:bold;
}

/* ABOUT ME */
#aboutme{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.about-me__info{
    display: flex;
    flex-direction: column;
}

.about-me__info--container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    max-width: 600px;
    margin:0 auto;
    text-align: center;
}

.about-me__picture--mask{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0 8px 200px rgb(224, 228, 25);
    margin-bottom: 24px;
}
.about-me__picture{
    width: 100%;
    /* Improvment on picture */
    transform: scale(1.4);
}

.text--pink{
    color:pink;
}

.about-me__info--para{
    font-size: 20px;
    margin: 28px;
}

.about-me__info--title{
    margin: 16px;
}

.about-me__link{
    font-size: 20px;
    text-decoration: none;
    padding: 0 12px;
    color: #242424;
}

.about-me__img--container{
    flex:1;
    display: flex;
    align-items: center;
}

.about-me__img{
    width: 100%;
    transform: scale(.8);
}

/* TECH STACK */

.html5__png{
    max-width: 100px;
    width: 100%;
    transition: all 300ms ease;
}

.language:hover .html5__png{
    filter: brightness(80%);
    opacity: .86;
    transform: scale(.9);
}

.language{
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.language__img--wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px 16px;
}

.language__list{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.language__name{
    position: absolute;
    transform: scale(0);
    opacity: 0;
}

.language:hover .language__name{
    transform: scale(1);
    transition: all 300ms ease;
    opacity: 1;
}

/*projects*/

.project_img{
    width: 100%;
    transition: all 500ms ease;
    border-radius: 50px;
}

.project__wrapper{
    box-shadow: 0 20px 80px rgba(0, 0,0,.5);
    display: flex;
    position: relative;
    border-radius: 50px;
}

.project__wrapper:before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #1c1d25;
    opacity: 0;
    transition: opacity 450ms ease;
    z-index: 2;
    border-radius: 50px;
    border: 2px solid black;
}

.project:hover .project__wrapper::before{
    opacity: .7;
}

.project:hover .project__description{
    opacity: 1;
transform: translateY(-50%);
}

.project:hover .project_img{
    transform: scale(1.07);
    filter: blur(5px);
}

.project__list{
    padding-top: 30px;
}

.project__description{
    position: absolute;
    top: 50%;
    left: 90px;
    transform: translateY(100%);
    max-width: 550px;
    z-index: 3;
    opacity: 0;
    transition: all 500ms ease;
}

.project__description--title{
    font-size: 40px;
}

.project__description--para{
    margin: 16px 0;
}

.project__description--link{
    font-size: 20px;
    margin-right: 8px;
    text-decoration: none;
}

.project__description--title, 
.project__description--subtitle, 
.project__description--para, 
.project__description--link{
    text-align: left;
    color: #fff;
}

.project{
    margin-bottom: 135px;
}
.project:last-child{
    margin-bottom: 20px;
}

/*FOOTER*/

footer{
    background-color: #242424;
}

.juicy{
    width: 100px;
    height: 100px;
}

.footer__row{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 8% 0;
    justify-content: center;
}